<h1>Make a pokemon!</h1>

<% if params[:err]%>
<%=flash[:error] = params[:err].to_sentence%>
<%end%>

<%=simple_form_for @pokemon, :url => create_pokemon_path do |f|%>
    <%= f.text_field :name, label: 'Enter your new pokemons name.'%>
    <%= f.button :submit%>
<%end%>
